@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans+Condensed:300,300i,700|Roboto:300,400,500&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
body {
  color: #ffff;
  text-align: center !important;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.25rem;
}

.splash-section {
  background-color: #000;
  color: #fff;
  height: 100vh;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.splash-section img {
  max-width: 8rem;
}

.splash-section h2 {
  padding-top: 3rem;
  font-size: 3rem;
}

.splash-section span {
  font-weight: 700;
  font-size: 4.5rem;
}

hr {
  height: 0.05rem;
  background-color: #fff;
  width: 90%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.flex-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  padding-top: 30%;
  padding-bottom: 4rem;
}
.logo-container img {
  max-height: 6.5rem;
}

.logo-container h1 {
  font-size: 3rem;
  font-family: "Abril Fatface", cursive;
  color: #ff3600;
  padding-top: 1rem;
}

.logo-container p {
  padding: 2rem 0 0 0;
  color: #ffff;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.35rem;
}
.orange-p {
  padding: 1rem;
  color: #ff3600;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.65rem;
  font-weight: 300;
  text-transform: uppercase;
}

.main-screen {
  height: 300vh;
  background-color: #2e2e2e;
  background-image: url("https://claudiagarfias.works/laboratoria/sharedimages/foodmaps-wood-table-background-br.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position: top center;
}

#map {
  height: 15rem;
  margin: auto 2rem auto 2rem;
}

input {
  line-height: 1.35rem;
  height: 3.5rem;
  display: block;
  margin: auto;
  width: 80%;
  border-radius: 5px;
  -webkit-appearance: none;
  border: none;
  background-color: #ffffff85;
  border: 1px solid #fff;
  font-size: 1.45rem;
  font-family: "Open Sans Condensed", sans-serif;
}

button {
  margin: 1rem auto;
  background-color: #ff36009c;
  border: none;
  padding: 0.75rem 4rem;
  color: #fff;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.35rem;
  border-radius: 5px;
  font-weight: 700;
}

button:hover {
  background-color: #ff3600;
}
